body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
    color: #00B7FF;
    margin: 0;
}

.description {
    color: #ff0d00;
}

.text {
    display: flex;
    margin: 20px 0;
}

.text p {
    margin: 0 10px;
}

.Jump {
    overflow: hidden;
    margin-top: 50px;
}

.Jump .left {
    float: left;
}

.Jump .right {
    float: right;
}

.ability {
    margin: 10px 0;
}